@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@1,300&display=swap');
:root {
    /*colors */
    --pink: #dc3546 !important;
    --yellow: #fec009 !important;
    --blue: #007ac1 !important;
    /* font family */
    --font: 'Roboto Slab', serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font);
    background: #fffbc8;
}

/* Home  */
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    height: 40px;
    margin-right: .5em;
}

.brand span {
    font-size: 30px;
    margin: 0;
}

.nav-item a {
    margin-bottom: 0;
	font-size:20px !important;
	font-family: var(--font);
	margin-right: 20px;
	text-align: center;
	margin-top: 10px;
}

.navbar-toggler {
    outline: 2px solid var(--yellow);
    font-size: 20px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: var(--yellow);
}

.htitle {
    font-size: 5em;
	text-align: left;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.hsub {
    font-size: 2em;
    font-style: italic;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header .btn {
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
	border-radius: 15px;
	border-width: 3px; 
	letter-spacing: 2px;
	margin-right: 25px;	
	background: var(--yellow);
	border-color: var(--yellow);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header .btn:hover {
	text-decoration: none;
    background: transparent;
	border-color: var(--yellow);
    color: #fff;
}

.h1 {
    font-size: 50px;
    text-align: left;
}

.h6 {
    font-size: 20px;
}

.header>.container {
    min-height: 500px;
}

.img-fluid{
	height: 500px;
	width: 500px;
	margin-bottom: 25px;
	padding: 5px;
	background-color: var(--yellow);
	border-radius: 0% 0% 48% 53% / 10% 10% 43% 44% ;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dq-jumbotron-img {
    /* position: absolute; */
    min-height: 300px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dq-jumbotron img {
    max-width: 80%;
    max-height: 250px;
    position: absolute;
    transition: all .3s;
}

.dq-jumbotron img:hover {
    margin-top: -5px;
    margin-right: -5px;
}


.m3-pics img:nth-child(1) {
    display: block;
	width: 100%;
    height: 1000%;
}

.who-we-are img,
.box100 {
    width: 80px;
    height: 80px;
	border-radius: 40%;
}

.who-we-are h1 {
	font-size: 65px;
	margin-bottom: 10px;
}

.who-we-are hr {
    width: 355px;
    height: 5px;
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 25px;
    background-color: var(--yellow);
	opacity: 100%;
}

.who-we-are p {
	font-size: 20px;
}

.who-we-are .btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
	border-radius: 10px;
	border-width: 3px; 
	letter-spacing: 2px;
	background: var(--yellow);
	border-color: var(--yellow);
	color: black;
	
}

.who-we-are .btn:hover {
    background: transparent;
	border-color: black;
	color: black;
}

.service-feature h1{
	font-size: 35px;
} 

.service-feature img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto 1em auto;
    border-radius: 50%;
    transition: all .2s;
}

.service-feature img:hover {
    border: 5px solid var(--yellow);
}

.service-feature h4 {
    font-size: 25px;
}

/*product*/
.center-content .headername {
	font-size: 85px;
	text-shadow: 9px 0px var(--yellow), 15px 0px var(--blue);
	letter-spacing: 25px;
}


/* career */

.career h1 {
    font-size: 70px;
}

/*Delivery*/
.header .headername {
	font-size: 65px;
	text-shadow: 5px 0px var(--yellow), 10px 0px var(--blue);
	letter-spacing: 25px;
}

.header .m3-pics1 img{
	width: 80%;
	height: 95%;
	margin-left: 50px;
}

.header .m3-pics2 img{
	width: 75%; 
}

.delivery-menu h1{
    font-size: 500%;
	letter-spacing: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.delivery-menu hr, .hr-line {
    width: 40%;
    height: 5px;
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 18px;
	margin-bottom: 30px;
    background-color: var(--yellow);
	opacity: 100%;
}

.delivery-menu .images {
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.delivery-menu .image {
    flex: 1;
}

.delivery-menu .image img {
    width: 100%;
	height: 100%;
    padding: 1em;
}

.text-scroll {
    background: var(--yellow);
    overflow: hidden;
    padding: 2em 0;
}

.text-scroll div:nth-child(1) {
    white-space: nowrap;
    font-size: 2em;
	letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
}

.text-scroll div:nth-child(1) span {
    -webkit-text-stroke: 2px #000;
    color: var(--yellow);
}

.delivery-orders .order a{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
	border-radius: 10px;
	margin-top: 30px;
	border-width: 3px; 
	letter-spacing: 2px;
	background: var(--yellow);
	border-color: var(--yellow);
	color: black;
	
}

.delivery-orders .order  a:hover {
    background: transparent;
	border-color: black;
	color: black;
}

.delivery-orders .order  img {
    width: 100%;
	padding: 5px;
	
}

/* for firefox */

@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
    }
}


/* for Chrome */

@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.delivery-orders .order {
    margin: 2em 0;
}

.delivery-orders .order img {
    display: block;
    max-width: 200px;
    margin-bottom: 1em;
    border-radius: 20px;
    transition: all .2s;
}

.delivery-orders .order:hover img {
    max-width: 230px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.delivery-orders .order .btn {
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 600;
}

/*Career*/
.h1 {
  font-size: 500%;
}

.career_header .title {
	font-size: 850%;
	text-shadow: 8px 0px var(--yellow), 15px 0px var(--blue);
	letter-spacing: 25px;
}

.career_header .m3-pics img{
	height: 100%;
	width: 100%;
	transform: rotate(80deg);
}

.career_header .m3-pic img{
	height: 100%;
	width: 100%;
	display: block;
}

.container .memorable {
	font-size: 60px;
	text-shadow: 5px 0px var(--yellow);
}

.container li{
	font-size: 23px;
	list-style: none;
}

.container li:before{
	font-size: 25px;
	content: "\1F366";
	color: var(--yellow);
}

.form h1 {
	font-size: 35px;
	font-weight: bold;
	align-items: center;
}

.form-group label {
	font-size: 20px;
	font-weight: bold;
}

.form-group input{
	font-size: 15px;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	border-color: var(--yellow);
	border-width: 2px;
}

.form-group button{
	font-size: 15px;
	font-weight: bold;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	border-width: 2px;
}

.corpAdd, .regForm, .workUs {
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 15px;
}

.corpAdd hr {
    width: 385px;
    height: 5px;
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 15px;
    background-color: var(--yellow);
	opacity: 100%;
}

.regForm hr {
    width: 395px;
    height: 5px;
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 15px;
    background-color: var(--yellow);
	opacity: 100%;
}

.workUs hr {
    width: 290px;
    height: 5px;
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 15px;
    background-color: var(--yellow);
	opacity: 100%;
}

.corporate h1{
	font-size: 20px;
	font-weight: bold;
	color: var(--pink);
}

.corporate p{
	font-size: 15px;
}

/*Contact*/
.header .headername {
	font-size: 80px;
	text-shadow: 5px 0px var(--yellow), 10px 0px var(--blue);
	letter-spacing: 25px;
}

.container .parag {
	font-size: 2.1rem;
	text-align: center;
	margin-bottom: none;
}

.container h5 {
	font-size: 40px;
	letter-spacing: 2px;
}

.headername hr {
    width: 55%;
    height: 5px;
	border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 0px;
    background-color: var(--yellow);
	opacity: 100%;
}

.center-content .store{
	padding: 60px;
}

.center-content h4 {
	margin-top: 50px;
	margin-bottom: none;
	font-size: 4rem;
	text-shadow: 5px 5px var(--yellow);
}

.center-content p {
	font-size: 2.2rem;
	text-align: justify;
	padding: 60px;
}

.form-group textarea{
	font-size: 15px;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	border-color: var(--yellow);
	border-width: 2px;
}


/*footer*/

footer {
    background-color: var(--pink);
}

footer .social-media .col {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1em;
    margin-top: 1em;
}

footer .brand img {
    width: 40%;
    height: 60%;
}

footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

footer .box-container .box h3 {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer .box-container .box label {
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: #fff;
    text-align: justify;
    margin-right: 10px;
}

footer .box-container .box .social-media {
    padding-bottom: 25px;
    text-align: center;
}

footer .box-container .box .social-media a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 20rem;
    font-size: 2rem;
    color: var(--dark);
    background: #eee;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    margin-top: 60px;
    margin-right: 22px;
    transition: all .2s;
}

footer .box-container .box .social-media a:hover {
    background: var(--yellow);
    color: #fff;
}

footer .box-container .box .email {
    height: 55px;
    width: 95%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: #000;
    border-color: var(--yellow);
    text-transform: none;
}

footer .box-container .btn {
    margin-top: 1.5rem;
    margin-bottom: 10px;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--yellow);
    color: #fff;
    cursor: pointer;
    background: none;
    letter-spacing: 2.5px;
    font-weight: 500;
}

footer .box-container .btn:hover {
    background: var(--yellow);
    ;
    color: #fff;
    font-weight: 600;
}

footer h4 a {
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
}

footer a:hover {
    color: white;
}
